<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
 
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.14.3/dist/css/uikit.min.css" />
   <link rel="stylesheet" href="/stylesheet/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      
      <nav class="uk-nav" >
        <a href="/" class=""><span uk-icon="home">home</span></a>
        
        {{#if loggedIn}}
        <a href="/dashboard" ><span uk-icon="grid">dashboard</span></a>
        
        <button id="logout" class="btn-no-style"> <span uk-icon="sign-out">logout</span></button>
        {{else}}
        <a href="/login" > <span uk-icon="sign-in">login</span> </a>
        {{/if}}
      </nav>
      <h1>
        <a href="/" class="uk-heading-line"><span uk-icon="world">Tech Blog</span></a>
      </h1>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      Thanks for visiting!
    </footer>
  </div>
  
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>

  {{/if}}
</body>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.14.3/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.14.3/dist/js/uikit-icons.min.js"></script>
</html>