<form class="login-form">
  <div>
    <label for="email-login"><span uk-icon="mail"></span>email:</label>
    <input type="text" id="email-login" />
  </div>
  <div>
    <label for="password-login"><span uk-icon="lock"></span>password:</label>
    <input type="password" id="password-login" />
  </div>
  <div>
    <button type="submit"><span uk-icon="sign-in"></span>login</button>
  </div>
</form>

<form class="signup-form">
  <div>
    <label for="username-signup"><span uk-icon="user"></span>username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label for="email-signup"><span uk-icon="mail"></span>email:</label>
    <input type="text" id="email-signup" />
  </div>
  <div>
    <label for="password-signup"><span uk-icon="lock"></span>password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <button type="submit"><span uk-icon="pencil"></span>signup</button>
  </div>
</form>

<script src="/javascript/login.js"></script>